{% extends "layout.html" %}
{% block contenido %}
<main id="main-content">
  <section id="fauna">
    <h2>Fauna</h2>
    <p>La Laguna de Fúquene fue valorada como Santuario de Fauna, porque allí habitaban numerosas especies
      permanentes, un verdadero patrimonio natural de la humanidad. <br>Aun existen en la laguna cuatro especies de
      peces: <strong>capitán de la sabana, la guapucha, la carpa y el pez dorado</strong> .La laguna es habitat de más
      de 27 especies de aves entre las que se destacan <strong>pato zambullidor, la tingua común, la tingua moteada,
        el chimecero, el cucarachero de lospantanos, la garza dorada, la monjita y el águila pescadora.</strong>. <br>
      A continuación, encontraras información relacionada con algunas especies:

    </p>
    <div class="carousel-container">
      <button class="prev" onclick="prevSlide()">&#10094;</button>
      <div class="carousel">
        <div class="card">
          <img  src="{{ url_for('static', filename='images/FochaComun.jpeg')}}" class="card-img-top" alt="Imagen 1">
          <div class="card-body">
            <h5 class="card-title">Focha Americana</h5>
            <p class="card-text">La Focha Americana se encuentra presente en la Laguna de Fúquene, se caracteriza por
              ser Robusta y ser con apariencia de pato. Tiene Pico corto y grueso blanco yeso con anillo negro
              incompleto cerca del extremo; escudofrontal castaño pequeño e inconspicuo. <br>(Fuente: Durán Ivonner,
              2022 ) </p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/MacaPicoGrueso.jpeg')}}" class="card-img-top" alt="Imagen 2">
          <div class="card-body">
            <h5 class="card-title">Macá Pico Grueso</h5>
            <p class="card-text">Ave compacta, cuerpo café grisáceo pequeño y pico robusto, tiene un cuerpo mas
              redondeado y corto que el de un pato. Su Plumaje café liso durante todo el año. Habita en pozas y
              humedales con vegetación emergente, como en este caso que se puede encontrar en la Laguna de Fúquene.
              <br>(Fuente: ebird.org)
            </p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/TorzacaComun.jpg')}}" class="card-img-top" alt="Imagen 3">
          <div class="card-body">
            <h5 class="card-title">Torcaza Común</h5>
            <p class="card-text">La zenaida torcaza, tórtola torcaza, tórtola orejuda o palomita montera (Zenaida
              auriculata), es una especie de ave columbiforme de la familia Columbidae propia de Sudamérica.Los machos
              presentan coloración celeste en la parte superior de la cabeza y ligera coloración rosada o dorada en el
              pecho. Las hembras presentan color oscuro, es decir no tienen tonalidades diferentes a su plumaje
              normal. (Fuente: inaturalist.org)</p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/capitan_sabana.jpg')}}" class="card-img-top" alt="Pez Capitán de la Sabana">
          <div class="card-body">
            <h5 class="card-title">Pez Capitán de la Sabana</h5>
            <p class="card-text">El pez capitán de la sabana (Eremophilus mutisii Humboldt, 1805) es una especie
              endémica y emblemática del altiplano cundiboyacense que se distribuye naturalmente en el rango
              altitudinal de los 2500 a 3100 m s. n. m., es decir esta presente en la laguna de Fúquene,se alimenta de
              moluscos, anélidos, crustáceos y larvas de insectos de los fondos fangosos y, ocasionalmente, de algas
              diatomeas, restos de plantas y huevos de otros peces (Fuente: revistas.udea.edu.co) </p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/Guapucha.jpg')}}" class="card-img-top" alt="La Guapucha">
          <div class="card-body">
            <h5 class="card-title">La Guapucha</h5>
            <p class="card-text">La Guapucha, pez endémico del altiplano cundiboyacense, actualmente se encuentra en
              la laguna de fuquene y en algunos río, este bello pez que puede llegar a los 8 centímetros de longitud,
              y cuenta con escamas y dientes completamente distintos a los de cualquier otro pez similar Fuente:
              (Characidae; Grundulus bogotensis).</p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/Carpa.jpg')}}" class="card-img-top" alt="Carpa">
          <div class="card-body">
            <h5 class="card-title">Carpa</h5>
            <p class="card-text"> Es un pez de agua dulce, emparentado con la carpa dorada, con la cual puede incluso
              tener descendencia híbrida. Esta esta presente en la laguna de Fúquene y ayuda a que se coman la maleza
              como la Elodea y otras especies acuáticas que existen en la laguna, como el Junco y el Buchón. (Fuente:
              repository.agrosavia.co)</p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/Dorado.jpeg')}}" class="card-img-top" alt="Pez Dorado">
          <div class="card-body">
            <h5 class="card-title">Pez Dorado</h5>
            <p class="card-text">Es conocido también como Tilapia, fue introducido a la laguna en la década de los
              80's, en Fúquene se ha establecido completamente existiendo una poblasión asilvestrada en ambientes
              naturales, alcanza un tamaño de hasta 24 cm por lo que es usado para el consumo (Fuente:
              repository.agrosavia.co)</p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/PatoZambullidor.jpeg')}}" class="card-img-top" alt="Pato Zambullidor">
          <div class="card-body">
            <h5 class="card-title">Pato Zambullidor</h5>
            <p class="card-text">El pato zambullidor es un ave acuática que se caracteriza por su habilidad para
              sumergirse en el agua en busca de alimentos, como insectos, peces y plantas acuáticas. Tiene un cuerpo
              aerodinámico y patas palmeadas que le facilitan nadar con eficacia. Su plumaje suele ser oscuro y denso
              para mantenerse abrigado en el agua.</p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/Tingua.png')}}" class="card-img-top" alt="Tingua Común y Tingua Moteada">
          <div class="card-body">
            <h5 class="card-title">Tingua Común y Tingua Moteada</h5>
            <p class="card-text">Las tingas son aves zancudas que habitan en humedales y áreas pantanosas. La tingua
              común tiene un plumaje mayormente oscuro, mientras que la tingua moteada presenta un patrón moteado en
              su plumaje. Ambas se alimentan principalmente de insectos, peces pequeños y otros invertebrados que
              encuentran en el agua.</p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/Cucarachero.jpeg')}}" class="card-img-top" alt="Cucarachero de los Pantanos">
          <div class="card-body">
            <h5 class="card-title">Cucarachero de los Pantanos</h5>
            <p class="card-text">Este pequeño pájaro es típico de los pantanos y áreas húmedas. Su plumaje es de tonos
              oscuros y suele vivir entre la vegetación densa de los humedales. Se alimenta principalmente de insectos
              y otros invertebrados que encuentra en el suelo o entre la vegetación.</p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/Garza.jpg')}}" class="card-img-top" alt="Garza Dorada">
          <div class="card-body">
            <h5 class="card-title">Garza Dorada</h5>
            <p class="card-text"> La garza dorada es una especie de garza que se distingue por su plumaje dorado
              durante la época de reproducción. Habita en áreas de agua dulce como lagos, estanques y ríos, donde se
              alimenta de peces, anfibios, crustáceos y otros organismos acuáticos.</p>
          </div>
        </div>
        <div class="card">
          <img  src="{{ url_for('static', filename='images/AguilaPescadora.jpeg')}}" class="card-img-top" alt="Águila Pescadora">
          <div class="card-body">
            <h5 class="card-title">Águila Pescadora</h5>
            <p class="card-text">Las tingas son aves zancudas que habitan en humedales y áreas pantanosas. La tingua
              común tiene un plumaje mayormente oscuro, mientras que la tingua moteada presenta un patrón moteado en
              su plumaje. Ambas se alimentan principalmente de insectos, peces pequeños y otros invertebrados que
              encuentran en el agua.</p>
          </div>
        </div>
      </div>
      <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>

  </section>
</main>
{% endblock %}
